.PasswordRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.InputField{
    border-color: white;
    border-radius: 4px 0px 0px 4px;
    margin-left: 32px;
}

.ToggleButton{
    width: 28px;
    border-radius: 0px 4px 4px 0px;
    border-width: 2px;
    border-color: white;
    padding: 1px !important;
}

.GenerateButton{
    padding: 4px;
    margin-top: 24px;
    border-radius: 4px;
}

.invalid{
    width: 25px;
    color: #ff0000;
}

.valid{
    width: 25px;
    color: #00ff00;
}